<link rel="stylesheet" href="/css/_footer.css" />
<footer class="footer">
  <div class="actions">
    <div class="footer_content">
      <div class="links-footer name">
        <span style="font-size: 18">Created By: Prateeksha Ranjan |</span>
      </div>

      <div class="links-footer">
        <a href="https://github.com/prateeksha9/getPlaced.git">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTFSIO_dsJJiOX3Sntwxpw6lUIJKI0ueBlRpcQ3q57xVOw4-bCAQ2eX0v_5v2sf5CIiNA&usqp=CAU"
            alt="github"
            class="image_footer"
        /></a>
      </div>

      <div class="links-footer">
        <a href="https://www.linkedin.com/in/prateeksharanjan/">
          <img
            src="https://cdn-icons-png.flaticon.com/512/174/174857.png"
            alt="linkedIn"
            class="image_footer"
        /></a>
      </div>
    </div>
  </div>
</footer>
